
      <h2>Search By Categories</h2>
<div class="container">

  <div class="row"> <div class="col-md-4">
  <div class="card" style="width: 18rem;">
  <a routerLink="/recepies">  <img [src]="url" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h3>BREAD</h3>
      <p class="card-text">Super easy and simple bread recipes to fulfill your bread desires..</p>
    </div>
  </div></div>

   <div class="col-md-4">
  <div class="card" style="width: 18rem;">
  <a href="/recepies">  <img [src]="url1" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h3>CAKE</h3>
      <p class="card-text">Have a sudden craving of sugar ? try out these quick and easy cake recipes</p>
    </div>
  </div></div>

<div class="col-md-4">
  <div class="card" style="width: 18rem;">
   <a href="/recepies"> <img [src]="url2" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h3>CHINESE</h3>
      <p class="card-text">Love Chinese dishes, then these simple and easy curated recipes are for you.</p>
    </div>
  </div>
</div></div></div>


<div class="container ">

  <div class="row"> <div class="col-md-4">
  <div class="card" style="width: 18rem;">
  <a href="/recepies"  ><img [src]="url3" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h3>COOKIES</h3>
      <p class="card-text">Cant sleep without having milk and cookies , then these eggless cookie recipes are surely a must..</p>
    </div>
  </div></div>

  <div class="col-md-4">
  <div class="card" style="width: 18rem;">
  <a href="/recepies" ><img [src]="url4" class="card-img-top" alt="..."></a>
   
    <div class="card-body">
      <h3>BREAKFAST</h3>
      <p class="card-text">Bored of the same dosa, upma , poha , try out these fun and quick breakfast recipes..</p>
    </div>
  </div></div>
 
  <div class="col-md-4">
  <div class="card" style="width: 18rem;">
  <a href="/recepies">  <img [src]="url5" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h3>STARTERS</h3>
      <p class="card-text">Need some sides with dinner , or just a casual snack in the evening check out these delicious starter recipes..    </p>
</div></div>
  </div>
</div> 