<div class="container">
    <p>
    <img [src]="url">  <br>  Hi,<br>
I am Dhruv Surana and this is my food blog. I was interested in cooking and baking since I was 9. I started with baking small cakes for my family on various occasions. Later as I grew up, everyone started appreciating my work. I started getting orders from my family friends too. My interest then deepened. I started the food blog ( http://www.foodblog.co.in) recently and started uploading various recipes on it. I then thought of letting others add in their recipes and get featured on the blog too.

The blog is purely to showcase my passion and love for cooking. I love trying out new recipes and adding a twist from my side. Everytime I get a call from someone regarding a cooking tip or help, I get really excited and happy. I love to
help them out. My aim is to reach out to maximum people possible and encourage young ones to cook too.

My mother, maternal grandmother and Neeta Soni have been my source inspiration. They have encouraged me and helped me through every step very patiently. I am forever grateful to them.

One thing my father always told me, is that keep trying and learning new things. There is a lot to learn from each and everyone around you and I would like to do just that.
    </p>
</div>










  

