<div class=" section1">
    <div class="row">
        <div class="col-md-8">
            <img class="img-fluid animate__animated animate__pulse animate__infinite infinite animate__slow	2s" [src] = 'url'>
        </div>
        
<div class="col-md-4">
   
 <form class="form">
    <label for="name" class="text-danger">Your name</label><br>
    <input type="text" required><br><br>

    <label for="email" class="text-danger">Your email</label><br>
    <input type="text" required><br><br>

    <label for="phn"class="text-danger">Your phonenumber</label><br>
    <input type="number" required><br><br>

    <label for="mesg" class="text-danger">Your message</label><br>
    <input type="text" id="input" required><br><br>

    <br><button class="btn btn-danger" type="submit">Sendme</button>
</form>
<div class="cardbody">
<h6>Velachery–Tambaram Rd,<br>
    Gowrivakkam,<br>
    Sembakkam,Chennai,<br>
    TamilNadu 600073,India</h6></div>
</div>

    

</div>
<p class="para animate__animated animate__slideInLeft animate__infinite	infinite animate__slower 1s">Thank you for contacting us , we will reply to your message as soon as possible..</p>
</div>