
 
<div class="section2">
  <div class="row">
    <div class="col-md-6 part1">
     <div class="container c1">
      <div class="title">
      <h6>CREATE YOUR RECEPIES</h6>
      <h1>You Gotta Eat Here..</h1><br>
      <p>Cooking is a caring and nuturing act.It's kind of <br>the ultimate gift for someone,to cook for them.
        <br>so making it more evocative and precise..</p>
        <a routerLink="/contact"><button class="btn btn-danger">HireMe</button></a>
      </div>
     </div>
    </div>

    <div class ="col-md-6 part2">
    <div class="container box">

      <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img [src]="url" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <br>
                <p>Eat good Feel good.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img [src]="url1" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
              <br>
                <p>Eat well Live well Be well.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img [src]="url2" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <br>
                <p>Eat to Nourish your body.</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            
          </a>
        </div>
      </div>
    </div>
      

      
    
  </div>
      </div></div>


      