<div class="section2">
    <div class="row">
    <div class="container">
      <h5>SERVICES</h5>
    <h3> What We Offer</h3><br><br>
        <div class="row">
          <div class="col"><img [src] ="url"id="img1"><br><br><h6>MEAL BOX DELIVERY</h6></div>
          <div class="col"><img [src] ="url1"id="img1"><br><br><h6>INDUSTRIAL CATERING SERVICE</h6></div>
          <div class="col"><img [src] ="url2"id="img1"><br><br><h6>EVENT MANAGMENT</h6></div>
          <div class="col"><img [src] ="url3"id="img1"><br><br><h6>CATERING FOR GRAND <br>EVENTS</h6></div>
        </div>
      </div>
</div>
