.rece{
    padding: 80px;
    text-align: center;
    background-color: rgb(75, 122, 203);
    margin-top: 30px;
    
}
.container2{
    background-color: blanchedalmond;
}
.img1{
    height: 80%;
    width: 80%;
    text-align: center;
    margin: 30px;
}

.img2{
margin: 30px;
height: 80%;
width: 80%;
}

.img3{
    height: 80%;
    width: 80%;
    text-align: center;
    margin: 30px;
}

.container2{
    margin: 70px;
    padding: 40px;
    background-color:rgb(69, 17, 17);
}
p{
    text-align: justify;
  text-justify: inter-word;
  color:rgb(175, 153, 24)
}

h3{
    text-align: center;
    color: chartreuse;
}