<div class="rece animate__animated animate__lightSpeedOutRight animate__infinite	infinite animate__slow 1s">
    <h3>RECEPIES</h3>
</div>
<div class="container2">
    <div class="row">
      <div class="col align-self-start">
        <div class="center3">
          <img [src]="url3" class="img3">
        </div>
        <h3>Burger Bun</h3>  
      <p>Add the ingredients of the roux  in a pan on low heat , while stirring continuously, for about 1 min
Place it in a bowl and keep aside to cool
In a big bowl mix all the ingredients of the dough and mix it well and keep aside
In a smaller bowl add all the ingredients of the yeast mixture and mix it well and keep aside in a warm place to let the yeast activate for about 10 mins
Now add the roux and the yeast mixture in the dough with about 1/2 cup of water ( water may depend upon the consistency of the dough )
Now mix it well for about 2 min till everything is combined into a smooth dough that dosent stick to your hand
Next ,  add the butter and mix again for 10-12
once the dough is ready transfer into a bowl and cover with a damp muslin cloth and keep it in a hot place for about an hour or till the dough doubles in  size
After the dough doubles in size nock the air in the dough
Next , create oval shaped balls which should weigh about 100-120 gms
Transfer these dough balls on an oven tray and cover with damp muslin cloth and let it rise for another hour
Now brush the buns with milk and add sesame seeds on top
Bake them in the oven at 200 degrees centigrade for about 20 mins
If u want you can also add a dollop of butter after the buns have baked for extra shine
Super soft n delicious burger buns are ready!</p>
      </div>
      <div class="col align-self-center">
        <div class="center1">
          <img [src]="url2" class="img2">
        </div>
        
      <h3>Eggless Cake</h3>
      <p>  In a bowl sieve together Maida , baking powder, baking soda and coco powder
In a separate larger bowl combine the sugar and the butter and beat it together till it becomes fluffy
Now add the milk to the butter sugar mixture and Wisk well
Next add the yogurt and whisk till it is well combined
Now add the dry ingredients in 2 parts and combine them into a batter using a spatula
Once it is all nicely combined , fold the chocolate chunks in the batter
Now , grease an 8 inch pan with flour and cover the bottom of the tin with parchment paper
Pour the batter in the tin and bake it in the oven for 40-45 min at 180 degrees Celsius
Once the cake is baked it will tend to be a little gooey because of the chocolate chunks , but do not worry it is cooked completely in order to check if your cake is ready push the cake slightly if the it bounces back it is ready if not bake it in the oven for another 5 – 10 mins
Once the cake is cooled, cover it with chocolate ganache or simply serve with ice-cream
The best eggless chocolate cake is ready!</p>
      </div>
      <div class="col align-self-end">
        <div class="center">
          <img [src]="url" class="img1">
        </div>
        <h3>Pancake</h3>
       <p> In a bowl ,Beat together butter and milk maid till they become light and fluffy
In another bowl sieve the Maida , baking powder , baking soda and sugar
Now add the dry ingredients to the butter – milkmaid mixture one spoon at a time
At the same time add the water and fold together with the help of a spatula till no lumps of flour can be found
Once the batter is ready , heat a pan on medium flame and add a dollop of butter in the center
Now add 1/3 cup of the pancake batter in the middle and let it cook for about 2 minutes or until air bubbles start to form
once the air bubbles start to pop , flip the pancake and cook it again for about 1 min
[you can also add blueberries or Choco chips in the pancake before flipping ]
Serve with chocolate syrup or maple syrup
The best eggless pancakes are ready !</p>
      </div>
    </div>
  </div>